/*color for head #ff8079*/

.container-fluid {
  padding: 0;
}

.header ul {
  margin-top: 40px;
}

.header .logo {
  max-height: 90px;
}

.header h1 {
  color: #ff8079;
  display: inline;
  font-family: 'Satisfy', cursive;
}

.jumbotron .slogan {
  color: teal;
  font-family: 'Open Sans';
  font-size: 30px;
  text-align: center;
}

.jumbotron {
  background-image: url('../img/hero.jpg');
  border-radius: 0px!important;
  background-size: cover;
  height: 450px;
  background-position: center;
}

.featured .thumbnail {
  background-color: #edf1f4;
}

.btn .btn-primary {
  border-radius: 5px;
  width: 50px;
  height: 30px;
}

.services {
  margin: 0;
}

.services p {
  text-align: center;
}

.footer {
  background: #231f20;
}

.footer .container .info {
  margin-top: 5px;
  padding: 15px;
  color: #fff;
  line-height: 10px;
  font-size: 10px;
  border-left: 1px solid grey;
  text-decoration: none;
}

.footer .container .info a:hover {
  color: red;
}

.footer .container .info a {
  color: #fff;
}
